# Query 1.1
Import the csv file of the stock of your choosing using 'pd.read_csv()' function into a dataframe. Shares of a company can be offered in more than one category. The category of a stock is indicated in the ‘Series’ column. If the csv file has data on more than one category, the ‘Date’ column will have repeating values. To avoid repetitions in the date, remove all the rows where 'Series' column is NOT 'EQ'. Analyze and understand each column properly. You'd find the head(), tail() and describe() functions to be immensely useful for exploration. You're free to carry out any other exploration of your own.

In [1]:
import numpy as np 
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import os
import datetime
import math
from functools import partial

In [2]:
data = pd.read_csv("TCS.csv")
data

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,TCS,EQ,15-May-2017,2360.65,2375.10,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39
1,TCS,EQ,16-May-2017,2365.10,2380.00,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84
2,TCS,EQ,17-May-2017,2429.15,2433.50,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74
3,TCS,EQ,18-May-2017,2455.35,2450.00,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20
4,TCS,EQ,19-May-2017,2536.20,2536.20,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,TCS,EQ,07-May-2019,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31
494,TCS,EQ,08-May-2019,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83
495,TCS,EQ,09-May-2019,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27
496,TCS,EQ,10-May-2019,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81
497,TCS,EQ,13-May-2019,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80

In [3]:
filtered_data = data[data.Series == 'EQ']
filtered_data

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,TCS,EQ,15-May-2017,2360.65,2375.10,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39
1,TCS,EQ,16-May-2017,2365.10,2380.00,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84
2,TCS,EQ,17-May-2017,2429.15,2433.50,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74
3,TCS,EQ,18-May-2017,2455.35,2450.00,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20
4,TCS,EQ,19-May-2017,2536.20,2536.20,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,TCS,EQ,07-May-2019,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31
494,TCS,EQ,08-May-2019,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83
495,TCS,EQ,09-May-2019,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27
496,TCS,EQ,10-May-2019,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81
497,TCS,EQ,13-May-2019,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80

In [4]:
filtered_data.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,TCS,EQ,15-May-2017,2360.65,2375.1,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39
1,TCS,EQ,16-May-2017,2365.10,2380.0,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84
2,TCS,EQ,17-May-2017,2429.15,2433.5,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74
3,TCS,EQ,18-May-2017,2455.35,2450.0,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20
4,TCS,EQ,19-May-2017,2536.20,2536.2,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94

In [5]:
filtered_data.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
493,TCS,EQ,07-May-2019,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31
494,TCS,EQ,08-May-2019,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83
495,TCS,EQ,09-May-2019,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27
496,TCS,EQ,10-May-2019,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81
497,TCS,EQ,13-May-2019,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80

In [6]:
filtered_data.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,4.940000e+02,494.000000
mean,2387.748684,2386.112146,2412.039575,2362.413866,2386.900911,2387.279251,2387.545040,2.154751e+06,4.914692e+09,95827.566802,1.183271e+06,56.849312
std,463.565049,461.347984,470.430776,457.931108,463.288365,463.709942,464.726731,2.579232e+06,6.651663e+09,57134.390316,1.600605e+06,12.114263
min,1721.600000,1723.000000,1734.900000,1711.150000,1723.000000,1721.600000,1725.850000,4.341100e+04,1.120856e+08,2351.000000,1.386900e+04,21.480000
25%,1987.912500,1989.475000,2005.500000,1973.250000,1988.887500,1987.912500,1988.825000,9.365380e+05,2.444368e+09,51852.750000,5.490995e+05,48.020000
50%,2398.575000,2396.925000,2433.000000,2377.650000,2398.100000,2398.575000,2402.990000,1.696750e+06,3.959611e+09,86986.500000,9.150305e+05,56.750000
75%,2638.237500,2635.750000,2669.450000,2619.787500,2638.000000,2638.237500,2641.310000,2.622279e+06,5.725864e+09,125993.250000,1.465679e+06,66.310000
max,3603.700000,3625.000000,3674.800000,3572.550000,3610.750000,3603.700000,3633.110000,4.403358e+07,1.268362e+11,482657.000000,3.155626e+07,85.180000

# Query 1.2
Calculate the maximum, minimum and mean price for the last 90 days. (price=Closing Price unless stated otherwise)

In [7]:
filtered_data.tail(90)['Close Price'].max()

2260.35

In [8]:
filtered_data.tail(90)['Close Price'].min()

1813.25

In [9]:
filtered_data.tail(90)['Close Price'].mean()

2015.4722222222215

# Query 1.3 
Analyse the data types for each column of the dataframe. Pandas knows how to deal with dates in an intelligent manner. But to make use of Pandas functionality for dates, you need to ensure that the column is of type 'datetime64(ns)'. Change the date column from 'object' type to 'datetime64(ns)' for future convenience. See what happens if you subtract the minimum value of the date column from the maximum value.

In [10]:
#datetime64[ns] maps to either <M8[ns] or >M8[ns] depending on the endian-ness of the machine
filtered_data['Date'] = pd.to_datetime(filtered_data['Date'])
filtered_data['Date'].dtype

dtype('<M8[ns]')

In [11]:
filtered_data['Date'].max()-filtered_data['Date'].min()

Timedelta('728 days 00:00:00')

# Query 1.4
In a separate array , calculate the monthwise VWAP (Volume Weighted Average Price ) of the stock. 
( VWAP = sum(price*volume)/sum(volume) ) 
To know more about VWAP , visit - VWAP definition 
{Hint : Create a new dataframe column ‘Month’. The values for this column can be derived from the ‘Date” column by using appropriate pandas functions. Similarly, create a column ‘Year’ and initialize it. Then use the 'groupby()' function by month and year. Finally, calculate the vwap value for each month (i.e. for each group created).

In [12]:
filtered_data['Month'] = pd.DatetimeIndex(filtered_data['Date']).month
filtered_data['Year'] = pd.DatetimeIndex(filtered_data['Date']).year
filtered_data['VWAP'] = (filtered_data['Close Price'] * filtered_data['Total Traded Quantity']).cumsum() / filtered_data['Total Traded Quantity'].fillna(0).cumsum()
data_vwap = filtered_data[['Month','Year','VWAP']]
group = data_vwap.groupby(['Month','Year'])
group.first()

                   VWAP
Month Year
1     2018  2533.725584
      2019  2373.843993
2     2018  2600.697196
      2019  2334.632663
3     2018  2645.170456
      2019  2311.505311
4     2018  2707.985286
      2019  2295.578918
5     2017  2365.100000
      2018  2813.097543
      2019  2284.017185
6     2017  2523.547721
      2018  2846.124167
7     2017  2495.933531
      2018  2673.427888
8     2017  2481.937788
      2018  2557.340020
9     2017  2484.754249
      2018  2518.901820
10    2017  2484.600494
      2018  2489.142016
11    2017  2493.068743
      2018  2437.989244
12    2017  2521.921881
      2018  2401.156253

# Query 1.5
Write a function to calculate the average price over the last N days of the stock price data where N is a user defined parameter. Write a second function to calculate the profit/loss percentage over the last N days.
Calculate the average price AND the profit/loss percentages over the course of last -
1 week, 2 weeks, 1 month, 3 months, 6 months and 1 year.
{Note : Profit/Loss percentage between N days is the percentage change between the closing prices of the 2 days }

In [13]:
#here N refers to number of days
def avg_price(N):
    return (filtered_data['Average Price'].tail(N).sum())/N
print("Average prices for last N days are as follows:")
print("Last 1 week",avg_price(7*1))
print("Last 2 weeks",avg_price(7*2))
print("Last 1 month",avg_price(round(365/12)*1))
print("Last 3 months",avg_price(round(365/12)*3))
print("Last 6 months",avg_price(round(365/12)*6))
print("Last 1 year",avg_price(365))
print("Profit/Loss % for N days are as follows:")
def prof_loss(N):
    difference = (filtered_data['Close Price'].tail(N).iloc[N-1] - filtered_data['Close Price'].tail(N).iloc[0])
    if difference < 0 :
        loss = -(difference)
        loss_percen = (loss/filtered_data['Close Price'].tail(N).iloc[N-1])*100
        return loss_percen
    if difference > 0 :
        profit = difference
        profit_percen = (profit/filtered_data['Close Price'].tail(N).iloc[N-1])*100
        return profit_percen
print("Loss/Profit percentage for last N days are as follows:")
print("Last 1 week",prof_loss(7*1))
print("Last 2 weeks",prof_loss(7*2))
print("Last 1 month",prof_loss(round(365/12)*1))
print("Last 3 months",prof_loss(round(365/12)*3))
print("Last 6 months",prof_loss(round(365/12)*6))
print("Last 1 year",prof_loss(365))

Average prices for last N days are as follows:
Last 1 week 2155.881428571429
Last 2 weeks 2176.550714285714
Last 1 month 2109.878
Last 3 months 2015.2749999999996
Last 6 months 2002.5921666666668
Last 1 year 2345.4366575342465
Profit/Loss % for N days are as follows:
Loss/Profit percentage for last N days are as follows:
Last 1 week 0.15267175572519084
Last 2 weeks 1.536112742219604
Last 1 month 7.55607751027598
Last 3 months 11.072225484439228
Last 6 months 5.881385789782739
Last 1 year 27.177921315325904

# Query 1.6 
Add a column 'Day_Perc_Change' where the values are the daily change in percentages i.e. the percentage change between 2 consecutive day's closing prices. Instead of using the basic mathematical formula for computing the same, use 'pct_change()' function provided by Pandas for dataframes. You will note that the first entry of the column will have a ‘Nan’ value. Why does this happen? Either remove the first row, or set the entry to 0 before proceeding.

In [14]:

#pct_change() returns [0,1] based fraction rather than [0,100] based percentage

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change
0,TCS,EQ,2017-05-15,2360.65,2375.10,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39,5,2017,2365.100000,0.00
1,TCS,EQ,2017-05-16,2365.10,2380.00,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84,5,2017,2407.665319,2.71
2,TCS,EQ,2017-05-17,2429.15,2433.50,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74,5,2017,2424.199789,1.08
3,TCS,EQ,2017-05-18,2455.35,2450.00,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20,5,2017,2467.042455,3.29
4,TCS,EQ,2017-05-19,2536.20,2536.20,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94,5,2017,2471.749180,-1.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,TCS,EQ,2019-05-07,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31,5,2019,2282.852775,-0.27
494,TCS,EQ,2019-05-08,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83,5,2019,2282.628633,0.04
495,TCS,EQ,2019-05-09,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27,5,2019,2282.393661,0.92
496,TCS,EQ,2019-05-10,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81,5,2019,2282.112317,-1.69
497,TCS,EQ,2019-05-13,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80,5,2019,2281.867135,-0.33

# Query 1.7 
Add another column 'Trend' whose values are:
'Slight or No change' for 'Day_Perc_Change' in between -0.5 and 0.5
'Slight positive' for 'Day_Perc_Change' in between 0.5 and 1
'Slight negative' for 'Day_Perc_Change' in between -0.5 and -1
'Positive' for 'Day_Perc_Change' in between 1 and 3
'Negative' for 'Day_Perc_Change' in between -1 and -3
'Among top gainers' for 'Day_Perc_Change' in between 3 and 7
'Among top losers' for 'Day_Perc_Change' in between -3 and -7
'Bull run' for 'Day_Perc_Change' >7
'Bear drop' for 'Day_Perc_Change' <-7

In [15]:
def trend( day_perc_change: float ) -> str:
        """
        1.7 Add another column 'Trend' whose values are:
            'Slight or No change' for 'Day_Perc_Change' in between -0.5 and 0.5
            'Slight positive' for 'Day_Perc_Change' in between 0.5 and 1
            'Slight negative' for 'Day_Perc_Change' in between -0.5 and -1
            'Positive' for 'Day_Perc_Change' in between 1 and 3
            'Negative' for 'Day_Perc_Change' in between -1 and -3
            'Among top gainers' for 'Day_Perc_Change' in between 3 and 7
            'Among top losers' for 'Day_Perc_Change' in between -3 and -7
            'Bull run' for 'Day_Perc_Change' >7
            'Bear drop' for 'Day_Perc_Change' <-7
        """
        if -0.5 <= day_perc_change <=  0.5: return 'Slight'
        if  0.5 <= day_perc_change <=  1:   return 'Slight positive'
        if -0.5 >= day_perc_change >= -1:   return 'Slight negative'
        if  1   <= day_perc_change <=  3:   return 'Positive'
        if -1   >= day_perc_change >= -3:   return 'Negative'
        if  3   <= day_perc_change <=  7:   return 'Among top gainers'
        if -3   >= day_perc_change >= -7:   return 'Among top losers'
        if         day_perc_change >   7:   return 'Bull run'
        if         day_perc_change <  -7:   return 'Bear drop'
        
filtered_data['Trend'] = filtered_data['Day_Perc_Change'].map(trend)

filtered_data

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change,Trend
0,TCS,EQ,2017-05-15,2360.65,2375.10,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39,5,2017,2365.100000,0.00,Slight
1,TCS,EQ,2017-05-16,2365.10,2380.00,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84,5,2017,2407.665319,2.71,Positive
2,TCS,EQ,2017-05-17,2429.15,2433.50,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74,5,2017,2424.199789,1.08,Positive
3,TCS,EQ,2017-05-18,2455.35,2450.00,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20,5,2017,2467.042455,3.29,Among top gainers
4,TCS,EQ,2017-05-19,2536.20,2536.20,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94,5,2017,2471.749180,-1.15,Negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,TCS,EQ,2019-05-07,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31,5,2019,2282.852775,-0.27,Slight
494,TCS,EQ,2019-05-08,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83,5,2019,2282.628633,0.04,Slight
495,TCS,EQ,2019-05-09,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27,5,2019,2282.393661,0.92,Slight positive
496,TCS,EQ,2019-05-10,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81,5,2019,2282.112317,-1.69,Negative
497,TCS,EQ,2019-05-13,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80,5,2019,2281.867135,-0.33,Slight

# Query 1.8 
Find the average and median values of the column 'Total Traded Quantity' for each of the types of 'Trend'.
{Hint : use 'groupby()' on the 'Trend' column and then calculate the average and median values of the column 'Total Traded Quantity'}

In [16]:
trends = {}
groups_df = filtered_data.groupby(['Trend'])
for key, group_df in groups_df:
    trends[key] = {
                "mean":   round( group_df['Total Traded Quantity'].mean(),   2),
                "median": round( group_df['Total Traded Quantity'].median(), 2),
            }
for trend in trends:
    print(trend,'- mean = ',trends[trend]['mean'],'- median = ',trends[trend]['median'])

Among top gainers - mean =  4706882.78 - median =  2954120.0
Among top losers - mean =  7492338.31 - median =  4397518.0
Bear drop - mean =  5049371.0 - median =  5049371.0
Negative - mean =  1975849.19 - median =  1742213.0
Positive - mean =  2321128.18 - median =  1957788.0
Slight - mean =  1687522.68 - median =  1375582.0
Slight negative - mean =  1704378.32 - median =  1579023.0
Slight positive - mean =  1962012.07 - median =  1740628.0

# Query 1.9

SAVE the dataframe with the additional columns computed as a csv file week2.csv. In Module 2, you are going to get familiar with matplotlib, the python module which is used to visualize data.

In [17]:
filtered_data.to_csv('week2.csv')
filtered_data

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change,Trend
0,TCS,EQ,2017-05-15,2360.65,2375.10,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39,5,2017,2365.100000,0.00,Slight
1,TCS,EQ,2017-05-16,2365.10,2380.00,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84,5,2017,2407.665319,2.71,Positive
2,TCS,EQ,2017-05-17,2429.15,2433.50,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74,5,2017,2424.199789,1.08,Positive
3,TCS,EQ,2017-05-18,2455.35,2450.00,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20,5,2017,2467.042455,3.29,Among top gainers
4,TCS,EQ,2017-05-19,2536.20,2536.20,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94,5,2017,2471.749180,-1.15,Negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,TCS,EQ,2019-05-07,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31,5,2019,2282.852775,-0.27,Slight
494,TCS,EQ,2019-05-08,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83,5,2019,2282.628633,0.04,Slight
495,TCS,EQ,2019-05-09,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27,5,2019,2282.393661,0.92,Slight positive
496,TCS,EQ,2019-05-10,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81,5,2019,2282.112317,-1.69,Negative
497,TCS,EQ,2019-05-13,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80,5,2019,2281.867135,-0.33,Slight